<link rel="stylesheet" href="app/assets/stylsheets/adminDB.css">
<h1>Admin Dashboard</h1>
<p class="welcome">Welcome, <%= current_user.name %>!</p>
<p class="note">Here you can manage Meeting Rooms and Add New Rooms.</p>
