.welcome{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: darkmagenta;
}
.note{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}