.homepage{
    text-align: center;
    
    
}
.weltit{
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color:black
}
.tagline{
    color:darkmagenta;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
